html, body, .page-container{
  height : 100%;
  margin : 0;
  font-family: sans-serif;
}
.page-container{
  width : 100%;
  display : flex;
  justify-content: space-between;
}

.left-container{
  width : 33.33%;
  height : 100%;
  background-color: #18990c;
}

.service-heading-container{
  position : relative;
  margin-top : 70px;
}

.dark-background{
  position : relative;
  width : 100%;
  height : 50px;

}

.service-text{
  position : absolute;
  text-align : center;
  top : 13px;
  bottom : 13px;
  left : 20px;
  right : 20px;
  color : white;
  font-size: 23px;
  font-weight : bold;

}

.service-image-container{
  display : flex;
  justify-content: space-between;
  padding-top : 30px;
}

.service-image{
  width : 120px;
  height : 120px;
  margin : auto;
}

.service-name-container{
  display : flex;
  justify-content: space-between;
  margin-top : 10px;
}

.service-name{
  font-size: 15px;
  color : White;
  margin : auto;
}

.mid-container{
  width : 33.33%;
  height : 100%;
  background-color: white;
}

.right-container{
  width : 33.33%;
  height : 100%;
  background-color: #18990c;
}
