html, body, .page-container{
  height : 100%;
  margin : 0;
}
.page-container{
  width : 100%;
  display : flex;
  justify-content: space-between;
}

.left-container{
  width : 33.33%;
  height : 100%;
  background-color: #18990c;
}

.mid-container{
  width : 33.33%;
  height : 100%;
  background-color: white;
}

.right-container{
  width : 33.33%;
  height : 100%;
  background-color: #18990c;
}
